.MovieDetailsPage {
}
.MovieDetailsPage__navigation {
  padding: 5px;
}
.MovieDetailsPage__back {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 50px;
  background-color: #fff;
  cursor: pointer;
}
