.Navigation {
  display: flex;
}
.Navigation__item {
  /* background-color: blue; */
  font-size: 20px;
  list-style: none;
}
.Navigation__item:not(:first-child) {
  margin-left: 10px;
}

.Navigation__item--active {
  color: rgb(255, 80, 103);
}

.Navigation__item--normal {
  color: inherit;
}
