.MovieList {
  margin-top: 15px;
  padding: 20px 10px;
}
.MovieList__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.MovieList__item:not(:last-child) {
  margin-bottom: 5px;
}

.MovieList__title {
  margin-left: 20px;
  font-size: 20px;
}
